.box {
    position: relative;

}

.box h2 {
    position: absolute;
    float: left;
    padding: 30px 50px;
    
}

.box h6 {
    position: absolute;
    float: left;
    padding: 70px 50px;
    
}

li {
    list-style: none;
}

.rist {
    position: absolute; 
    top: 25px;
    right: 25px;
}

.rist li {
    display: inline;
    margin: 20px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100vh;
}
